:root {
  --venus-menu-bg--color: rgba(43, 43, 43, 0.5);
}

// 隐藏滚动条
.hidden-scrollbar {
  // 针对Firefox
  scrollbar-width: none;
  // 针对旧版IE和Edge
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    // 针对Webkit内核浏览器
    display: none;
  }
}

// 居中
.venus-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
