$primary-color: #1677ff;
$success-color: #18A058;
$error-color: #D03050;
$warning-color: #F0A020;
$active-background-color: rgba(22, 119, 255, 0.1);
$hover-background-color: rgb(243, 243, 245);
$placeholder-color: rgba(194, 194, 194, 1);
$placeholder-disabled-color: rgba(209, 209, 209, 1);
$header-height: 64px;
$footer-height: 70px;
$menu-width: 200px;
$border-radius: 4px;
$border-color: #dcdcdc;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$depth2-color: rgb(51, 54, 57);
$depth3-color: rgb(118, 124, 130);
