.el-sub-menu__icon-arrow {
  display: none !important;
}
// 移除子菜单下拉图标
.el-menu-item__icon {
  display: none !important;
}
// 移除菜单下拉图标占用的padding
.el-menu:not(.el-menu--collapse) .el-sub-menu__title {
  padding-right: var(--el-menu-base-level-padding) !important;
}
.el-menu--horizontal .el-menu .el-menu-item {
  border-radius: 4px;
}
// 菜单弹出层
.el-popper.is-pure {
  padding: 2px 2px 2px 2px !important;
}
// sub-menu子菜单样式
.el-menu--popup {
  border: none !important;
  border-radius: var(--el-border-radius-small) !important;
  box-shadow: var(--el-box-shadow-light) !important;
  min-width: 90px !important;
  padding: 5px 0 !important;
  z-index: 100 !important;
}
// 菜单项聚焦事件
.el-menu--horizontal .el-menu-item:not(.is-disabled):focus {
  background-color: rgba(255, 255, 255, 0) !important;
}


