@import "tailwindcss";

@utility animate-fade-in {
  animation: fadeIn 0.6s ease-in-out forwards;
}

@utility animate-fade-in-up {
  animation: fadeInUp 0.8s ease-out;
}

@utility animate-shimmer {
  animation: shimmer 2s infinite;
}

@utility custom-scrollbar {
  &::-webkit-scrollbar {
    width: 6px;
  }
  &::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 3px;
  }
  &::-webkit-scrollbar-thumb {
    background: #c1c1c1;
    border-radius: 3px;
    transition: background 0.2s;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: #a8a8a8;
  }
}

@utility fade-children {
  > * {
    opacity: 0
  }
}
